{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>Shopping Cart Web Site</h1>
	<h2>Shop to your hearts content!!! </h2>
<img src="http://www.naturalprogramming.com/images/smilingpython.gif">
<table id="products" border=1>
    <thead>
        <tr>
            <th colspan=4>Products</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Discount Amount</th>
            <th>Add product to cart</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr id={{product.propertyID}}>
            <td> {{ product.name }} </td>
            <td> {{ product.getDiscountAmount() }} </td>
            <td> {{ product.getDiscountPrice() }} </td>
            <td> 
                <form action="/addtocart/" method="post">
                    <button value={{product.propertyID}} name="productID" type="submit" title="Adds item to cart or increases quantity of item">Add</button>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
</div>

{% if cart != None: %}
<div class="block2">
<h2>Products in Cart</h2>
<table id="cart" border=1>
    <thead>
        <tr>
            <th colspan=4>Cart</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
    {% for item in cart %}
        <tr>
            <td> {{ item.name }} </td>
            <td> {{ item.quantity }} </td>
            <td> {{ item.getTotal() }} </td>
            <td> 
                <form action="/removefromcart/" method="post">
                    <button value={{ item.productID }} name="productID" type="submit">Remove</button>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<div style="text-align:center;">
    <form action="/savecart/" method="post">
            <button type="submit">Create Order</button>
    </form>
</div>
</div>
{% endif %}
{% endblock %}
