{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>Shopping Cart Web Site</h1>
	<h2>Shop to your hearts content!!! </h2>
<img src="http://www.naturalprogramming.com/images/smilingpython.gif">
<table border=1>
    <thead>Products</thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td> {{ product.name }} </td>
            <td> {{ product.getDiscountAmount() }} </td>
            <td> {{ product.getDiscountPrice() }} </td>
        </tr>
    </tbody>
    {% endfor %}
</div>
{% endblock %}
