{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
<h1>Shopping Cart Web Site</h1>
	<h2>Shop to your hearts content!!! </h2>
<img src="http://www.naturalprogramming.com/images/smilingpython.gif">
<table id="products" border=1>
    <thead>
        <tr>
            <th colspan=4>Products</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Discount</th>
            <th>Discount Amount</th>
            <th>Add product to cart</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr id={{product.propertyID}}>
            <td> {{ product.name }} </td>
            <td> {{ product.getDiscountAmount() }} </td>
            <td> {{ product.getDiscountPrice() }} </td>
            <td> 
                <form action="/addtocart/" method="post">
                    <button value={{product.propertyID}} name="addtocart" type="submit">Add</button>
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</div>
{% endblock %}
